form input {

    width: 80%;
    text-align: center;
    margin-top: 3vh;
    padding: 2vh;
    border: 2px solid black;
    border-radius: 30px;
}

#home-pagination button {

    border-radius: 1.5rem;
    padding: 3%;
    background-color: #6EE7B7;
}

@media screen and (min-width: 992px) {

    #home-pagination button {

        padding: 1.75%;
    }
}

