<!-- Navbar -->

<div>

  <nav class="w-screen bg-gray-200" role="banner">

    <a href="/">
      <img class="w-5/6 block m-auto lg:w-2/6" alt="HT Jobs Logo" [src]="logoPath" />
    </a>

  </nav>

  <router-outlet></router-outlet>

  <!-- Footer -->

  <footer class="w-screen bg-gray-200 text-center">

    <ul class="flex flex-col md:text-xl p-4">
      <h1 class="text-2xl mb-2">Quick Links</h1>
      <a href="">Browse Jobs</a>
      <a href="/companies">Browse Companies</a>
      <a href="/company/login/view">Post A Job</a>
      <button (click)="handleAccountClick()">View Account</button>
    </ul>

    <h2 class="md:text-xl">© 2023 HT Jobs</h2>

  </footer>

</div>


