<!-- Navbar -->

<div >

  <nav class="w-screen bg-gray-200" role="banner">
    <img class="w-5/6 block m-auto" alt="HT Jobs Logo" [src]="logoPath" />
  </nav>

  <app-home></app-home>

  <!-- Footer -->

  <footer class="w-screen bg-gray-200 text-center">

    <ul class="flex flex-col">
      <h1 class="text-2xl mb-2">Quick Links</h1>
      <a>Browse Jobs</a>
      <a>Browse Companies</a>
      <a>Post A Job</a>
      <a>View Account</a>
    </ul>

    <h2>© 2023 HT Jobs</h2>

  </footer>

</div>

<router-outlet></router-outlet>
