<div class="min-h-screen text-center flex flex-col items-center gap-8">

        <ng-container *ngIf="wishList[0]!= null; else noJobs">
                
          <h1 class="mt-4 text-2xl font-bold">Your Saved Jobs</h1>

          <div *ngFor="let item of wishList" class="w-4/5 rounded-3xl border-2 border-black p-4 bg-gray-200 relative">

                <a href="/jobs/{{ item.id }}" class="w-full h-full rounded-3xl p-4 relative">
                        <h2 class="font-bold md:text-2xl">{{ item.title }}</h2>
                        <h2 class="md:text-xl"> ${{ formatSalary(item.salary) }} </h2>
                        <h2 class="md:text-xl"> 📍{{item.location}} </h2>
                </a>

                <button class="z-10 absolute top-0 right-0 mt-2 mr-2" (click)="removeFromWishList(item); $event.stopPropagation(); ">❌</button>

          </div>

        </ng-container>
      
        <ng-template #noJobs>
          <h1 class="w-4/5 mt-4 text-2xl font-bold">You Haven't Saved Any Jobs Yet.</h1>
          <a href="" class="w-4/5 p-4 bg-green-300 rounded-3xl mt-6 font-bold">Browse Jobs</a>
        </ng-template>
      
        <button class="w-4/5 p-4 bg-green-300 rounded-3xl mt-6 mb-8 font-bold" (click)="logout()">Logout</button>
      
</div>