<div class="min-h-screen flex items-center justify-center">

    <form #form="ngForm" (ngSubmit)="onSubmit(form)"  class="w-2/3 flex flex-col items-center mb-32">

        <h1 class="text-center text-2xl font-bold">Signup To Get Started!</h1>
        <input name="firstName" [(ngModel)]="firstName" placeholder="First Name"/>
        <input name="lastName" [(ngModel)]="lastName" placeholder="Last Name"/>
        <input name="email" [(ngModel)]="email" placeholder="Email Address"/>
        <input type="password" name="password" [(ngModel)]="password" placeholder="Password"/>
        <input type="password" name="passwordConfirm" [(ngModel)]="passwordConfirm" placeholder="Confirm Password"/>
        <button class="w-4/5 p-4 bg-green-300 rounded-3xl mt-6 font-bold" type="submit">Get Started</button>

        <a href="/login" class="mt-6 font-bold underline">Or, Click Here To Log In!</a>

    </form>
</div>